.question {
  background: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }
  p {
    color: #f2f5f7;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;


      img {
        width: 32px;
        height: 32px;
        border-radius:50%;
      }
      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;
      outline: none;
      
      &.like-button {
        display: flex;
        align-items: center;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;
          svg path {
            fill: #835afd;
            stroke: none;
          }
         
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}

// Like animation
@keyframes likeAnimation {
  25% {
    width: 12px;
    height: 12px;
    opacity: .5;
  } 
  75% {
    width: 32px;
    height: 32px;
  }
  100% {
    width: 24px;
    height: 24px;
  }
}